@font-face {
  font-family: "iconfont";
  src: url('../common/fonts/iconfont.eot?t=1585832968579'); /* IE9 */
  src: url('../common/fonts/iconfont.eot?t=1585832968579#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABugAAAKaAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDHAqBGIEhATYCJAMQCwoABCAFhG0HUxseBsiusCnDvUiRamMcNkBx9o4+HPj4Rzx8vx/t3PfulzVNqnFnkxjTTZPJdAuJBJVMyQylk0hewl6u5T6SfBdbYFBl16PkPke5QAFdhe5UWDYOWKiyrmwXCAGeyw3g+Hxmvcx/jgGf53J6t/NA5rez3G4Nqyxak67nYwIGlkbpnhhFVkCBxbmmMLzqIHfiNoFBCxpFrkwvrkBashcF4g21dUgXElKK5V5oG3am+KzRl4/lGcCn6P3xH9ojTdFU9sqrz6YsGP1V+q0u8zAgJAl0f4OKPSCJF42FR2JC9MYMjo87AHq9wlwDpyOJsmPRsYz94xWiZbuHwT41643JnkDldwLBby4FfsjoHi0WxztznFkcT+l/U5cfIm8jQ0/tnCd3Ih8g+8zKxnNIjdwqGH23UbaHjXHo+Tk5uTFWN163PnW2B9VvpTuKc6uc3/HztsTv7W4hZF9Xf0cFoH4pxwCXpzomEJx8ddY3S4f//VCCH5OOFMz2ZWRY/oQy2JGGakcyNc2TzHgaGr2gYNAgPlyFSR9zODNwjtAXZBFFZx5Vb41Mdg+NIfto9U4waNfM/iFThJjIAew4IQjjblCM+o5q3AuZ7Dsas/7QGo8YBt2OqROHbATNXgisK2whYw9RkwXEjalsXL2E7S1PF3k18q1hIWkatTW3lsszOMBijjVy225XiiAimI+myX3Y8xgKBXOwqZprSoX9LS2k6UnNJvMh64KA6RTMghj2IJSJCZCgv5KtvH4JZtvi0YmOmnr4GkyQ6PBIm2atADljBVDNvTwibbO1UxQCIQTGh0yTaZjHwyBh8zQHZlKa1UbkQv1anF4EtZrXd/wPKIoN2B/LKFEjozH8luqeLvXAoTqr5DY0mSzcSz5jnoUFAAAA') format('woff2'),
  url('../common/fonts/iconfont.woff?t=1585832968579') format('woff'),
  url('../common/fonts/iconfont.ttf?t=1585832968579') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../common/fonts/iconfont.svg?t=1585832968579#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e797";
}

.icon-arrow-up:before {
  content: "\e7cf";
}

.icon-iconfolder:before {
  content: "\e60f";
}

